/* Font Style */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}

/* Shared Style */

.display-flex{
    display: flex;
}
.section-title{
    font-size: 2.5rem;
    font-weight: 700;
}
.bg-primary{
    background: rgba(255, 144, 14, 0.1);
}
.dark-1{
    color: rgb(19, 19, 19);
}
.dark-2{
    color: rgb(66, 66, 66);
}
.dark-3{
    color: rgb(114, 114, 114);
}
.btn-primary{
    width: 180px;
    height: 64px;
    border:none;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    color: white;
    font-size: 1.25rem;
}

/* Navbar style */
.navbar{
    
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.nav-items{
    list-style: none;
    margin-right: 10px;

}
.nav-link{
    text-decoration: none;
}

.brand{
    font-size: 3rem;
    font-weight: 700;
}


/* Banner style */
.navbar , .banner{
    max-width: 1320px;
    margin: 0 auto;
}

.banner-content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}
.banner-img{
    width: 100%;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;

}

/* Main Style */

main{
    max-width: 1320px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}

/* Section-1 | Teams */
.teams{
    align-items: center;
}

.team-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.team-feature{
    max-width: 500px;
    margin-left: 50px;
}

.feature-description{
    font-size: 1rem;
    font-weight: 400;
}

#quicklist{
    font-weight: 600;
}
#feature{
    color: rgb(255, 144, 14);
}


/* Some facts style */
.fact-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}
.fact{
    box-sizing: border-box;
border: 1px solid rgb(255, 144, 14);
border-radius: 8px;
width: 240px;
height: 240px;
text-align: center;
align-items: center;
justify-content: center;

}
.fact-description{
    width: 520px;
    margin-bottom: 100px;
}

.fact-number{
    font-size: 2.5rem;
    font-weight: 600;
    color: rgb(66, 66, 66);
    margin-top: 5px;
    margin-bottom: 5px;
}

.fact-name{
    font-size: 1rem;
    font-weight: 600;
    color: rgb(114, 114, 114);
    margin-top: 5px;
}
/* Responsive style */

@media screen and (max-width:576px) {
    .navbar , 
    .nav-link ,
     .teams{
        flex-direction: column;
    }

    .team-container,
    .fact-container{
        grid-template-columns: repeat(1,1fr);
    }
    .team-feature{
        margin-left: 20px;
    }

    .fact{
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .fact-description{
        padding: 10px;

    }
}


